# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AADFriendsPickerAPI.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\David\Downloads\aad-friends-picker-DalexKraus\AADFriendsPickerAPI\.idea\.idea.AADFriendsPickerAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
